.wrapper {          
    background-color: #92dbf1;         
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(204, 209, 235, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}